# An introduction to SQL (lite)
When ever you are working with large data set you will inevitably run into SQL or [SE-QUEL](https://en.wikipedia.org/wiki/SQL) (whichever pronunciation that your boss uses is the correct one:). There are several variants of the orignal SQL (now MS-SQL), I would recommend postgresql, but your mileage may vary.

For the purposes of demonstration, we can use a tiny version of the SQL database available in python--```sqlite3```. Documentation of ```sqlite3``` is available [here](https://docs.python.org/3/library/sqlite3.html).

In [1]:
import sqlite3
from sqlite3 import Error

First let's connect to our local file version of our database and capture a "cursor" to it. Make sure that you ```db.close()``` the connection when complete.

In [2]:
db = sqlite3.connect("file:pythonsqlite.db?mode=rw", uri=True)
cur = db.cursor()

In [3]:
# For reference, this is how the table was created
create = """
CREATE TABLE reddit_data (
    tid integer NOT NULL,
    subreddit character varying(64),
    subreddit_id character varying(16),
    selftext character varying,
    is_self boolean,
    body character varying,
    link_author character varying(16),
    author character varying(128),
    author_fullname character varying(16),
    title character varying(128),
    name character varying(16),
    upvote_ratio real,
    ups integer,
    downs integer,
    link_flare_text character varying(64),
    score integer,
    created double precision,
    created_utc double precision,
    link_flair_template_id character varying(128),
    author_flair_text character varying(128),
    id character varying(16),
    parent_id character varying(16),
    num_crossposts integer,
    media json,
    is_video boolean,
    kind character varying(8),
    is_submitter boolean
)
"""

Let's see how many records there are in our db and see what a sample looks like.
Here we see the basic format of a query beginning with *SELECT*. The commands are by convention in all uppercase/caps to delimit them from variables. When parsing, the caps are ignored unless quoted.

- *count()* counts the number of instances
- *\** is the wildcard symbol and returns all variables
- *FROM* is followed by the name of the table
- *LIMIT* restricts the number of records to return

In [4]:
res = cur.execute("SELECT count(*) from reddit_data")
result = res.fetchone()
print("total records count:", result)

res = cur.execute("SELECT * from reddit_data LIMIT 1")
result = res.fetchall()
print(result)

total records count: (2000,)
[(53390073, 'pics', 't5_2qh0u', None, None, 'Not sure I wood be able to afford it', 'FullmetalDragon', 'HelloMyLove', 't2_6mdi1', None, 't1_c4il4wo', None, 5, 0, None, 5, 1335840577.0, 1335840577.0, None, None, 'c4il4wo', 't1_c4id1qe', None, None, None, 't1', 0)]

This time lets restrict our query to three variables and two records.

In [5]:
print(cur.execute("SELECT subreddit, author, body FROM reddit_data LIMIT 2").fetchall())

[('pics', 'HelloMyLove', 'Not sure I wood be able to afford it'), ('AskReddit', 'Von_Hutchins', 'But what about the Cardinals bumper sticker?')]

I wonder how many *author*s have "love" in their name?
Here we are introducing th *LIKE* command which allows for string search and *%* which matches any character in a string.

In [6]:
print(cur.execute("SELECT count(author) FROM reddit_data WHERE author LIKE '%love%'").fetchall())

[(11,)]

In [7]:
db.close() # you should terminate your db in memory when finished